<% if user_signed_in? %>
  <div class='fixed top-0 left-100 right-10'>
     <button class="rounded-full ..."><%= link_to 'New blog', new_blog_post_path, class: "rounded-full bg-red-200 px-2 no-underline" %></button>
  </div>
<% end %>

<div class="text-center">
  <h1>My blog</h1>

  <% @blog_posts.each do |blog_post|%>
    <div class='rounded bg-red-100'>
      <h2><%= link_to blog_post.title, blog_post, class: 'no-underline' %></h2>
    </div>
    <% if user_signed_in? %>
      <% if blog_post.draft? %>
        <div class="p-2 rounded bg-gray-100 text-gray-900">draft</div>
      <% elsif blog_post.scheduled? %>
        <div class="p-2 rounded bg-blue-100 text-blue-900">scheduled</div>
      <% else %>
        <div class="p-2 rounded bg-green-100 text-green-900">published</div>
      <% end %>
    <% end %>
  <% end %>
</div>
