<h1 class='text-center'>My blog</h1>

  <% @blog_posts.each do |blog_post|%>
    <div class='bg-red-100'>
      <h2 class='text-center'><%= link_to blog_post.title, blog_post, class: 'no-underline' %></h2>
    </div>
  <% end %>
