<h1>New Blog Post</h1>

<%= render partial: 'form', locals: {blog_post: @blog_post} %>

<div class='fixed top-0 left-100 right-10'>
  <% if user_signed_in? %>
    <%= link_to 'back', root_path, class: "rounded-full bg-red-200 px-2 no-underline" %>
  <% end %>
</div>
